$main-page-color: #F5F5F5;
$correct-page-color:hsl(139,50%,46%) ;
$error-page-color: hsl(0,100%,60%);

$font-size-xs: 1.6rem;
$font-size-s: 2.0rem;
$font-size-normal: 2.4rem;
$font-size-large: 2.8rem;
$font-size-xl: 3.2rem;
