@use "variables";

*, *::after, *::before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  height: 100%;
}

body {
  min-height: 100%;
  background-color: variables.$main-page-color;
}

header, section {
  display: none;
}

header.active, section.active {
  display: block;
}

